!!!
%html{lang: "en"}
  %head
    - # General
    %title Notion (Test)
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    - # Assets
    != stylesheet_tag('app')
    != javascript_tag('app')

  %body
    %header
      = button_to (user_signed_in? ? "Logout" : "Login"), (user_signed_in? ? "/logout" : "/login"), method: (user_signed_in? ? :delete : :get)
    %main
      = haml :'partials/flash', layout: false if flash.keys.any? # => required because it would just show {}
      = yield
